<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.metacoders.home">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- External storage permission -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Android_app"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:launchMode="singleInstance"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".packagePage.packageList"></activity>
        <activity android:name=".NewProfileActivity" />
        <activity android:name=".ChoosePlanActivity" />
        <activity android:name=".RechargeNowActivity" />
        <activity android:name=".sslGateWay.pasymentSuccessfulPage" />
        <activity android:name=".sslGateWay.sslgateWayPage" />
        <activity android:name=".NottifiactionModule.NottificationPage" />
        <activity android:name=".loginandSetup.ProfileSetupPage" />
        <activity android:name=".bookMarkController.BookMarkDetails" />
        <activity android:name=".bookMarkController.bookmarkActivity" />
        <activity
            android:name=".profileActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".loginandSetup.RegisterActivity" />
        <activity android:name=".loginandSetup.loginactivity" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1385980455216480~6372398780" />

        <activity
            android:name=".SplashScreen"
            android:theme="@style/splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home_Activity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".JobsActivity" />
        <activity android:name=".NotificationActivity" />
        <activity android:name=".QuizActivity" />
        <activity android:name=".ContactActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".ArticleActivity" />
        <activity android:name=".PostsListActivity" />
        <activity android:name=".PostDetailActivity" />
        <activity android:name=".WPPostDetails" />
        <activity android:name=".Wp_Quiz_details" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e5ed560138ef90420b4feb23f6939ba556c01e12" />

        <activity android:name=".Voca_activity" />
        <activity android:name=".Voc_post_detail" />
        <activity android:name=".Qustion_Bank" />
        <activity android:name=".qus_bank_detail" />
        <activity android:name=".BcsActivity" />
        <activity android:name=".SyllabusActivity" />
        <activity android:name=".BcsButtonActivity" />
        <activity android:name=".Bises" />
        <activity android:name=".bises_post_detail" />
        <activity android:name=".Current_Activity" />
        <activity android:name=".Current_Post_Detail" />
        <activity android:name=".Feature_Activity" />
        <activity android:name=".Feature_Detail_Activity" />
        <activity android:name=".Bcs_Prep_POst_DeatilsActivity" />
        <activity android:name=".Govt_job_prep" />
        <activity android:name=".Bank_Prep" />
        <activity android:name=".Shikok_nivondon" />
        <activity android:name=".postDetails_for_Career_prep_by_subject" />
        <activity android:name=".career_prep_Bangla" />

        <service
            android:name=".persistant_service"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".career_prep_Eng" />
        <activity android:name=".career_prep_Math" />
        <activity android:name=".career_prep_ict" />
        <activity android:name=".career_prep_Bangladesh" />
        <activity android:name=".career_prep_International" />
        <activity android:name=".career_prep_GK" />
        <activity android:name=".career_prep_Others" />
        <activity android:name=".Under_Bcs_prep_Button" />
        <activity android:name=".Under_Bcs_Button_QustionBank" />
        <activity android:name=".Editorial" />
        <activity android:name=".ShopActivity" />
        <activity android:name=".Shop" />
    </application>

</manifest>