<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.metacoders.home">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- External storage permission -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Wallpaper permission -->
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:name=".Android_app"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Home_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".JobsActivity" />
        <activity android:name=".NotificationActivity" />
        <activity android:name=".QuizActivity" />
        <activity android:name=".ContactActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".ArticleActivity" />
        <activity android:name=".PostsListActivity" />
        <activity android:name=".PostDetailActivity" />
        <activity android:name=".WPPostDetails" />
        <activity android:name=".Wp_Quiz_details" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e5ed560138ef90420b4feb23f6939ba556c01e12" />

        <activity android:name=".activity_register" />
        <activity android:name=".login" />
        <activity android:name=".Voca_activity" />
        <activity
            android:name=".Voc_post_detail"
            android:parentActivityName=".Voca_activity" />
        <activity android:name=".Qustion_Bank" />
        <activity
            android:name=".qus_bank_detail"
            android:parentActivityName=".Qustion_Bank" />
        <activity android:name=".BcsActivity" />
        <activity android:name=".SyllabusActivity" />
        <activity android:name=".BcsButtonActivity" />
        <activity android:name=".Bises" />
        <activity
            android:name=".bises_post_detail"
            android:parentActivityName=".Bises" />
        <activity android:name=".Current_Activity" />
        <activity
            android:name=".Current_Post_Detail"
            android:parentActivityName=".Current_Activity" />
        <activity android:name=".Feature_Activity" />
        <activity
            android:name=".Feature_Detail_Activity"
            android:parentActivityName=".Feature_Activity" />
        <activity android:name=".Bcs_Prep_POst_DeatilsActivity" />
        <activity android:name=".Govt_job_prep" />
        <activity android:name=".Bank_Prep" />
        <activity android:name=".Shikok_nivondon" />
        <activity android:name=".postDetails_for_Career_prep_by_subject" />
        <activity android:name=".career_prep_Bangla" />

        <service
            android:name=".one_singal_notification"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-filter>
        </service>

    </application>

</manifest>